.container {
    /* height: 400px; */
    /* border: solid 1px #eee; */
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    box-shadow:0px 0px 1px 1px #C1E2C1;
    margin-top: -20px; /*for exact positioning */
    background-color: white;
    padding: 0px 20px 0px 20px;
    flex-grow: 10000;
}
